@import url(https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
// @import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i);

/* Font Smoothing */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
td,
button,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.navbar,
.brand,
.alert {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Poppins, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: $font-weight-normal;
}

.cr-app {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

th{
  font-size: 12px !important;
}
.header-table{
  background-color: #f1f1f1;
  text-align: center;
}
.show{
  display: block;
}
.hide{
  display: none;
}
.variable-mia{
  font-size: 11px;
  float: left;
  width: 100%;
  text-align: left;
  font-weight: 600;
}
.color-primary{
  color:#9aaa04;
}
.logo-everis{
  width: 150px;
  height: auto;
}
.chart-container-esp{
  height: 300px !important;
}
.table-responsive{
  font-size: 14px;
}
.table th{
  padding: 0.5rem !important;
  font-size: 11px !important;
}
.graph-line{
  /*height: 400px;*/
  overflow: hidden;
}
.text-mini{
  font-size: 12px;
}
.text-shadow{
  background-color: #f1f1f1;
  font-weight: 600;
}
.text-shadowb {
  background-color: #52cab694;
  font-weight: 600;
}
.text-shadowc {
  background-color: #e2dbb7;
  font-weight: 600;
}
.table thead th{
  text-align: center;
}
.bi.bi-check-circle{
  cursor: pointer;
}
.bi.bi-check-circle:hover{
  color:#55b3b1;
}
.bi.bi-x-circle{
  cursor: pointer;
  color:#f05454;
}

h1 {
  font-size: calc(1.8em + 2.5vw);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.4);
}

.bienvenida-class{
  background-color:#fff;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
.bi.bi-x-circle:hover{ 
  color:#55b3b1;
}
.color-gray{
  background-color: #f1f1f1;
}
.ranking{
  margin-left: 7%;
  font-size: 14px;
  color: #505050;
  font-weight: 600;
  margin-top: -4%;
}
.background-slider {
  width: 100%;
  height: auto;
}
.bi.bi-star-fill{
  color:#fed821;
}
.bi.bi-star-half{
  color:#fed821;
}
.td-size{
  padding: 0 !important;
}
.color-hoy{
  color: #9aaa04;
  font-weight: 600;
}
.time-date{
  color: #505050;
  margin-top:10%;
  font-size: 12px;
  font-weight: 600;
}
.lhyQmCtWOINviMz0WG_gr {
  background: #9aaa04 !important; 
}
._7ahQImyV4dj0EpcNOjnwA{
  background: transparent !important; 
  border: 1px solid #9aaa04 !important;
  color:#9aaa04 !important;
}
.table th, .table td{
  padding: 0.2rem;
}
.id_negocio{
  color: #9aaa04;
  font-weight: 600;
  padding: 0 2%;
}
.id_negocio_class{
  font-size: 14px;
}
.select-estacion-title{
  padding: 0% 1%;
  color: #9aaa04;
  font-size: 16px;
  border: 1px solid #f1f1f1;
  font-weight: 600;
  margin: 0 5%;
}
.select-estacion-hoy{
  color: #9aaa04;
  font-size: 16px;
  border: 1px solid #f1f1f1;
  font-weight: 600;
  text-align: center;
  margin-top: -5%;
}
.editicon{
  cursor: pointer;
  width: 13px;
}
.editicon:hover{
  color:#55b3b1;
}
.txt-high{
  color: red;
  font-weight: 600;
}
.header-txt-v2{
  font-size: 12px;
  margin-bottom: 1%;
}
.margin-gasolineras{
  margin-top: 20px;
}
.logo-station{
  margin-top: -1%;
}
.menos-espacio{
  font-size: 13px;
}
.txt-ok{
  color:#61b15a;
  font-weight: 600;
}
.titles-m{
  font-weight: 600;
}
.tipo-vision{
  margin-top:-10%;
  font-size: 12px;
  font-weight: 600;
  color: #505050;
  margin-bottom: 0!important;
}
.direccion-estacion{
  font-size: 12px;
  font-weight: 600;
  margin-left: 7%;
  line-height: 1.5;
  color:#505050;
}
.logo-station{
  width: 8%;
  height: auto;
}
.station-type{
  color: #505050;
  line-height: 1;
  margin:15% 0 5%;
  font-size: 12px;
  font-weight: 600;
}
.bi.bi-calendar-date{
  color:#9aaa04;
}
.station-name{
  color:#9aaa04;
  font-size: 20px;
  width: 100px;
  font-weight:500;
}
.date-format{
  padding-top: 10%;
}
.station-name:hover{
  color:#f05454;
}
.badge-especial{
    display: inline-block;
    width: 10px;
    height: 10px;
}
.update-date{
  font-size: 10px;
  color: #ffffff;
}
.ver-dashboard{
  width: 14px;
  height: auto;
}
.float-left-five{
  float: left;
  width: 100%;
}
.select-estacion-grafica{
  font-weight: 600;
  width: 100%;
  padding: 0.5% 2%;
  background: #dcdcdc;
}
.clear-filter{
  margin-top: 15%;
}
.tab-container{
  color:#9aaa04;
  cursor: pointer;
}
.text-describe-station:hover{
  cursor: pointer;
  color:  #f05454;
}
.btn-red{
  background-color: #f05454;
  color:#f1f1f1;
  border:1px solid #f05454;
}
.filter-container{
  overflow: hidden;
}
.row-filter{
  width: 80%;
  float: left;
}
.container-card-simular{
  width: 100%;
  margin: 0 15px;
  border: 1px solid #9aaa04;
  background-color: #f1f1f1;
}
label {
  font-size: 14px;
  font-weight: 600;
}
.label-simular{
  font-weight: 600;
}
.btn-barra-simular{
  margin-top: 9%;
  margin-left: 2px;
}
.content-filter{
  margin-top: 1%;
}
.icon-filter{
  width: 10%;
  float: left;
  margin-top: 2%;
  color: #9aaa04;
  font-weight: 900;
}
.btn-main-fuel-right{
  margin: 0 5px;
}
.text-tools{
  font-size: 15px;
  margin-left: 20px;
}
.product-row{
  font-weight: 600;
}
.text-validate{
  color:#9aaa04;
}
.meaning{
  cursor: pointer;
  position: relative;
}
.detail{
 display: none;
}
.meaning:hover + .detail {
  display: block;
  position: absolute;
  background-color: #ffffff;
  border-radius: 0.25rem;
  border:1px solid #168e7a;
  margin-top: -4%;
  color:#168e7a;
  padding: 0.375rem 0.75rem;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  z-index: 9;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.color-cancel{
  color:#f05454;
  font-weight: 900;
  cursor: pointer;
}
.color-cancel:hover{
  color:#45b649;
  font-weight: 900;
  cursor: pointer;
}
.color-check{
  color:#45b649;
  font-weight: 900;
  cursor: pointer;
}
.bg-login{
  background-image: url(../assets/img/bg/bg_gasolinera.jpeg);
  background-image: url(../assets/img/bg/bg_gasolinera.jpeg), linear-gradient(#eb01a5, #d13531); /* W3C */
  width: 100%;
 
  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-intermedio{
  background: #9aaa04;
  background: linear-gradient(to bottom, #9aaa04, #505050);
  opacity: 1;
}
.container-btn-masiva{
  margin-bottom: 20px;
}
.color-check:hover{
  color:#f05454;
  font-weight: 900;
  cursor: pointer;
}
.user-name{
  color:#55b3b1;
}
.update-text{
  font-size: 10px;
  color:#9aaa04;
  margin-left: 2%;
}
.container-tools-inside{
  background-color: #f1f1f1;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(189,189,189,1);
  -moz-box-shadow: 0px 4px 5px 0px rgba(189,189,189,1);
  box-shadow: 0px 4px 5px 0px rgba(189,189,189,1);
  position: fixed;
  z-index: 1;
  bottom: 5%;
  right: 3%;
  border:1px solid #9aaa04;
}
.input-tools{
  margin: 0 5px;
}
.container-buttons{
  position: relative;
  text-align: right;
  margin-top: -2%;
}
.input-simulacion{
  border:1px solid #9aaa04;
  padding: 1% 2%;
  width: 60%;
  margin-left: 10%;
  text-align: center;
}
.input-simulacion-dos{
  border:1px solid #9aaa04;
  padding: 1% 2%;
  width: 70%;
  text-align: center;
}
.btn-fixed-setup{
  position: fixed;
  bottom: 5%;
  right: 0;
  width: 50px;
  height: 50px;
  z-index: 9;
}
li a{
  cursor: pointer;
}
input[type="radio"], input[type="checkbox"] {
  border:1px solid #9aaa04;
}
/*Medida General phone*/
@media only screen and (max-width: 667px) { 
  .float-left-five{
    float: left;
    width: 100%;
  }
  .direccion-estacion{
    display: none;
  }
  .station-type{
    display: none;
  }
  .select-estacion-title {
    padding: 0% 1%;
    color: #9aaa04;
    font-size: 14px; 
  }
  .logo-station {
    width: 30%;
  } 
}
.mini-text{
  font-size: 12px;
}

/*ANIMACIONES*/

/*
==============================================
slideLeft
==============================================
*/


.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideLeft {
	0% {
    transform: translateX(150%);
    transform: translateY(80%);
	}	
	100% {
    transform: translateY(80%);
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}	
	100% {
		-webkit-transform: translateX(0%);
	}
}

/*.multiselect-container{
  width:100% !important;
  float: left;
}*/

.bg-red{
  background-color: #9aaa04;
}
.btn-outline-secondary{
  display: none;
}
.color-estrategia{
  color:#168e7a;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#splash {
  background: linear-gradient(to bottom, #9aaa04 0%, #999999 50%, rgba(255,255,255,0) 100%);
  background-repeat: repeat-y;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: splash 3s ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
#loader {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%,0);
}

#loader:after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -8px;
  bottom: -170px;
  width: 3px;
  background: #fff;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  height: 200px;
}

#loader:before {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: 8px;
  bottom: -190px;
  width: 3px;
  background: #000;
  background: linear-gradient(to bottom, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 50%, rgba(0,0,0,0) 100%);
  height: 200px;
}

#splash .anim {
  height: 100%;
  position: absolute;
  left: 50%;
  width: 100px;
  transform: translate(-50%,100%);
  animation: loader 10s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes loader {
  0% {
    transform: translate(-50%,110%);
  }
  /*30% {
    transform: translate(-50%,50%);
  }*/
  100% {
    transform: translate(-50%,0%);
  }
}

@keyframes splash {
  0% {
    transform: translate(0%,0%);
  }
  /*50% {
    transform: translate(0%,0%);
  }*/
  100% {
    transform: translate(0%,-100%);
  }
}

img.car {
  position: absolute;
  top: 0;
  left: 0;
}

#car1, #car2, #car3 {
  width: 55px;
  z-index: 5;
}

#car1 {
  left: -65px;
  top: 165px;
  animation-name: carleftpumptwo;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

#car3 {
    left: -65px;
  top: 165px;
  animation-name: carleftpumpone;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

#car2 {
  left: -65px;
  top: 165px;
  animation-name: carleftpumpthree;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 1.5s;
  z-index:2;
}

@keyframes carleftpumpone {
    0%   {left: -65px; top: 155px;}
    40% {left: 81px; top: 245px;}
    60% {left: 81px; top: 245px;animation-timing-function: ease-in;}
    90% {left: 320px; top: 383px;}
    100% {left: 320px; top: 383px;}
}

@keyframes carleftpumptwo {
    0%   {left: -65px; top: 155px;}
    45% {left: 138px; top: 270px;}
    55% {left: 138px; top: 270px;animation-timing-function: ease-in;}
    78% {left: 320px; top: 383px;}
    100% {left: 320px; top: 383px;}
}

@keyframes carleftpumpthree {
0%   {left: 305px; top: 317px;}
    35% {left: 163px; top: 235px;}
    55% {left: 163px; top: 235px;animation-timing-function: ease-in;}
    78% {left: -68px; top: 96px;}
    100% {left: -68px; top: 96px;}
}

#gas {
  width: 100px;
  top: 195px;
  left: 101px;
  z-index:3;
}

#a {
  border: 1px solid #ccc;
  width: 300px;
  height: 540px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow:hidden;
}

svg.svgwelcome {
  position: absolute;
  bottom: 100px;
  left: 70px;
}